language: python

cache: pip

python:
  - "3.6"
  - "3.7"
  - "3.8"

before_install:
  - export BOTO_CONFIG=/dev/null

install:
    - pip install -U -r requirements.txt

script:
    - scripts/test

after_script:
- codecov
