# Testing
pytest
codecov
pytest-cov
black
flake8
starlette
quart; python_version == '3.7'
moto[server]
mypy
brotli
brotli-asgi
awslambdaric-stubs
testing.postgresql
testing.redis
aioboto3
aioredis
aiosqlite
aiopg
sqlalchemy
httpx
respx
async_generator; python_version < '3.7' # Backport for asynccontextmanager
types-dataclasses; python_version < '3.7' # For mypy
# Docs
mkdocs
mkdocs-material
